@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --clock-color: pink;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
  --clock-color: rgb(83, 83, 220);
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

body{
    font-family: 'Heebo', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
}

.toggle {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 40px;
}

.toggle:focus {
    outline: none;
  }

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: var(--clock-color);
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.needle {
    background-color: var(--primary-color);
    position: absolute;
    height: 65px;
    width: 3px;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transition: all 0.5s ease-in linear;
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
  }
  
  .needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
  }

  .center-point {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e74c3c;;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  .center-point::after {
    content: "";
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .time {
    font-size: 60px;
  }
  
  .date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
  
  .date .circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
 }


 /* numbers inside clock */
 .clock span {
    position: absolute;
    inset: 15px;
    color: #000000;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    /*360 / 12 = 30deg */
  }
  
  .clock span b {
    font-size: 2em;
    opacity: 0.5;
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
  }

 